/*
    These codes are not copy pasted.
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    
}

#back {
    border: 5px solid darkblue;
    border-right: 1px solid darkblue;
    width: 1002px;
    margin: 0 auto;
    margin-top: 15px;
}

#main {
    width: 1001px;
    height: 601px;
    border: 1px solid darkblue;
    background-color: white;
}

audio {
    display: none;
}

#popDiv {
    position: absolute;
    border: 5px solid darkblue;
    border-right: 1px solid darkblue;
    width: 767px;
    left: 50%;
    margin-left: -502px;
    height: 601px;
    z-index: 1;
    background-color: rgba(3, 3, 3, 0.2);
    display: none;
}

#popMessage {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -100px;
    width: 400px;
    height: 150px;
    background-color: white;
    border: 5px solid darkblue;
    box-shadow: 1px 1px 1px 1px gray;
    text-align: center;
}

#background {
    float: left;
    width: 767px;
    height: 100%;
    background-color: white;
}

#boardPanel {
    width: 767px;
    height: 100%;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

#gamePanel {
    float: left;
    width: 233px;
    height: 100%;
    border-left: 1px solid white;
    background-color: darkblue;
}

.blocks {
    margin-right: 1px;
    width: 23px;
    height: 23px;
    float: left;
    color: black;
    font-size: 10px;
    background-size: 23px 23px;
    background-color: white;
}

#gameStartLabel {
    font-size: 50px;
    color: black;
    width: auto;
}

#miniLabel {
    font-size: 18px;
    color: black;
    width: auto;
}

h1, h4 {
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
    align-self: center;
}

body {
    background-color: rgba(153, 153, 153, 0.5);
}

#totalScore, #preyEaten, #preyScore {
    color: yellow;
    font-size: 25px;
}

#scores h4 {
    font-size: 18px;
}

#scores {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid white;
}

h1 {
    background-color: rgb(255, 255, 255, 0.3);
}

#img {
    margin: 0 auto;
}

#img img {
    width: 75px;
    height: 50px;
    padding: 10px;
    float: left;
    padding-top: 0px;
    padding-bottom: 15px;
}

img:first-child {
    margin-left: 20px;
}

#gameStartLabel span, #miniLabel span {
    color: red;
}

#scoreDiv {
    width: 90px;
    height: 25px;
    margin: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#scoreDiv img, #avoid img {
    width: 24px;
    height: 24px;
    float: left;
    margin: 1px;
}

#scoreDiv h4, #avoid h4 {
    text-align: center;
    float: right;
    padding: 0px;
}

.marginTopZero {
    margin-top: 0px;
}

#mechanics h4:first-child {
    padding-top: 0px;
}

#avoid {
    width: 110px;
    height: 25px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 55px;
    float: left;
    border-radius: 5px;
    background-color: white;
}

#avoid h4 {
    color: red;
    border-radius: 5px;
    padding-bottom: 5px;
    margin: 1px;
}

#avoid img {
    border-radius: 5px;
    margin: 1px;
}

#mechanics span {
    color: yellow;
}